<launch>
    <!-- Include first_pkg simulation.launch from first_pkg package -->
    <include file="$(find first_pkg)/launch/simulation.launch"/>

    <!-- Start gmapping node -->
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_gmapping.launch"/>

    <!-- Start rviz with desired topics -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find first_pkg)/rviz/rviz_conf.rviz" />

</launch>
